# Dry run report:

# Topics:
{% for topic_name, data in topics.items() -%}
{%if data['create'] == 'success' %}{{topic_name}}: TO CREATE - Configs: {{data['topic'].configs|safe}} {%elif data['create']=='failed' -%}WOULD FAIL with reason {{data["reason"]|safe}} {%else%}{%endif%}
{% if data.get("config_delta",None) and data['create'] != 'success'-%}{#topics to be created don't have reliable alter_config errors.#}
{{topic_name}} - Configs to be altered: {% for config, diff in data["config_delta"].items() %}{{config}}, from {{diff["before"]}} to {{diff["after"]}}. {%endfor%}
{% endif -%}
{% if data["configs_failed"] and data["create"] != "success"-%} {# ignore topics to be created on alter config failures #}
{% for config,reason in data["configs_failed"].items() %}{{topic_name}} '{{config}}' will fail because: {{reason}},{%endfor-%}
{% endif  -%}
{% endfor -%}

##-Schemas:
{% for subject,data in schemas.items()  -%}
{{ subject }} will be {% if data["status"] == "created" %}CREATED{% else %}UPDATED{% endif %}{% if "compatibility" in data %} (Compatibility will be set to {{data["compatbility"]["new"] }} from {{ data["compatibility"]["old"] }}){% else %}{%if data.compatibility %}Compatibility: {{data.compatibility}}{%endif%} {% endif -%}
{% endfor -%}

## Clients:
{% for rolebinding in clients["rolebindings"] -%}
- Allow {{rolebinding.principal|safe}} role {{rolebinding.role}} to {{rolebinding.resourcePatterns[0].resourceType}} named {{rolebinding.resourcePatterns[0].name}} in {{rolebinding.resourcePatterns[0].patternType}} mode
{% endfor -%}
